name: Release

on:
  release:
    types: [published]

jobs:
  pypi-release:
    name: "Python Package Release"
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.13
        cache: pip
        cache-dependency-path: |
          **/pyproject.toml
          **/requirements*.txt

    - name: Prepare Python env
      run: |
        python -m pip install -U pip setuptools wheel

    - name: Create build info
      run: |
        bash scripts/build-info.sh

    - name: Build package sdist
      run: |
        python setup.py sdist

    - name: Build package bdist (wheel)
      run: |
        python setup.py bdist_wheel

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
        packages-dir: dist
        print-hash: true
        verbose: true
        skip-existing: true
        attestations: true

    - name: Upload release assets
      uses: shogo82148/actions-upload-release-asset@v1
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: dist/*
